<h2>{$page.title} {if $parent}to {$parent.title}{/if}</h2>
<a class="flat_btn del" href="{$root}content/delete/{$entry.id}/">Delete</a>
<div class="text-edit">
	<form method="post" name="entry" id="entry">
		<div class="cp_table">
			<table class="cp_inputs">
				<tr>
					<td>Title:</td>
					<td><input type="text" name="title" value="{$entry.title}"></td>
				</tr>
				<tr>
					<td>H1:</td>
					<td><input type="text" name="h1" value="{$entry.h1}"></td>
				</tr>
				<tr>
					<td>URI:</td>
					<td><input type="text" name="uri" value="{if $entry.uri}{$entry.uri}{else}{$parent.uri}{/if}"></td>
				</tr>
				<tr>
					<td>Template:</td>
					<td><input type="text" name="template" value="{$entry.template}"></td>
				</tr>
				<tr>
					<td>Controller:</td>
					<td><input type="text" name="controller" value="{$entry.controller}"></td>
				</tr>
				<tr>
					<td>Public:</td>
					<td>
						<input type="hidden" name="public" value="0">
						<input type="checkbox" {if $entry.public == 1}checked="checked"{/if} name="public" value="1">
						
					</td>
				</tr>
				<tr>
					<td>Parent:</td>
					<td>
						<select name="parent">
							<option value="0">Root</option>
						{function tree level=0}
						{foreach $data as $item}	
							{if $item.id != $entry.id}					
								<option {if $entry.parent == $item.id || $parent.id == $item.id }selected="selected"{/if} value="{$item.id}">{for $n = 1 to $level}&nbsp&nbsp&nbsp&nbsp{/for}{$item.title}</option>
								{if $item.childNodes}{tree data=$item.childNodes level=$level+1}
								{/if}
							{/if}
						{/foreach}
						{/function}
						{call name=tree data=$tree}
						
						</select>
					</td>
				</tr>
	
			</table>
		</div>
		<div class="cp_table">
			<table class="cp_inputs">
				<tr><td colspan='2'><h3>SEO</h3></td></tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" name="description" value="{$entry.description}"></td>
				</tr>
				<tr>
					<td>Keywords:</td>
					<td><input type="text" name="keywords" value="{$entry.keywords}"></td>
				</tr>
				
			</table>
		</div>
		<textarea id="html-editor" name="text">{$entry.text}</textarea>
		

		<!-- <a class="save_btn" href="javascript:void(0);" onclick="document.getElementById('entry').submit(); return false;">Save</a> -->
		<button class="flat_btn save">Save</button>
		
	</form>
	
</div>