/* X33 */
html{
	height: 100%;
}

body{
	font-family:  Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #F5F7F8;
	height: 100%;
	background: url("../img/pattern-9kb5.png");
}
a{
	text-decoration: none;
	color: #708090;
}

input {
	padding: 4px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid rgb(202, 202, 202);
}

.debug_info{
	color: #EBE6E0;
	font-size: 12px;
	padding: 5px;
	background-color: #413F3B;
	opacity: 1;
	font-family: "consolas";
	width: 100%;
}
	.debug_info .line {
		margin-top: 1px;
		padding: 1px;
	}
	.debug_info .line var{
		color: #F1D597;
		font-style: normal;
		font-weight: bold;
	}
	.debug_info .line query{
		color: #97C2F1;
	}

header{
	width: 1000px;
	margin-top: 50px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;

	vertical-align: middle;
	color: #909090;
}

footer{
	height: 80px;
	border-top: 1px solid #E6E6E6;
}

.login-block {
	text-align: center;
	margin: 100px;
}
	.login-block .error-msg {
		height: 80px;
		font-size: 14px;
		color: rgb(218, 117, 117);
	}
	.login-block input {
		display: block;
		margin-bottom: 20px;
		text-align: center;
	}
	.login-block form {
		display: inline-block;
		color: rgb(124, 121, 121);
		font-size: 15px;
	}
	.login-block form button{
		
	}
.error-msg {
	font-size: 14px;
	color: rgb(218, 117, 117);
}

section{
	height: 100%;
	margin: 0 auto;
	color: #909090;
}

section .main_logo{
	text-align: center;
	opacity: 0.8;
}

section .presentation{
	text-align: center;
}

section .go_to_reg{
	text-align: center;
}
section .go_to_reg a{
	color: #4EB8EE;
	font-size: 45px;
	text-decoration: none;
}
section .go_to_reg a:hover{
	text-shadow: 0px 0px 5px #4EB8EE;
}

section .main_panel{
	left: 0;
	top: 0;
	margin-bottom: 50px;
	width: 100%;
	position: fixed;
	border-radius: 0 0 0 0;
	background-color: #5B6A7A;
	min-width: 120px;
	height: 42px;
}
section .main_panel .leftmenu{
	display: inline-block;
	margin-top: -16px;
}
section .main_panel .leftmenu li{

	display: inline-block;
	list-style: none;
}
ul ul, ol ul {list-style-type: disc;}
ul {
	list-style-type: disc;
	padding-left: 20px;
}

.tree a:hover{
	text-shadow: 0px 0px 1px #72767A;
}


.del_btn{
	font-size: 1.5em;
	margin-top: -47px;
	display: inline-block;
	color: red;
	float: right;
}
.del_btn:hover{
	text-shadow: 0px 0px 5px rgb(255, 55, 55);
}

.save_btn{
	font-size: 14px;
	height: 21px;
	width: 152px;
	display: inline-block;
	color: #4EB8EE;
	float: left;
}
.save_btn:hover{
	text-shadow: 0px 0px 5px #4EB8EE;
}


/* Buttons */
.flat_btn {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#e8e8e8;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#8f8b8f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:45px;
	width:100px;
	text-decoration:none;
	text-align:center;
}.flat_btn:hover {
	background-color:#d1d1d1;
}.flat_btn:active {
	position:relative;
	top:1px;
}
.flat_btn.del{
	margin-top: -47px;
	display: inline-block;
	color: rgb(212, 102, 102);
	float: right;
}

.flat_btn.save{
	padding: 0;
	color: #899DC2;
	margin-top: 4px;
}
.flat_btn.save:hover{
	background-color: #E4ECF0;
}

.flat_menu_btn {
	background-color:#5b6a7a;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: Open Sans,Arial,sans-serif;
	font-size:15px;
	font-style:normal;
	height:42px;
	line-height: 42px;
	width:100px;
	text-decoration:none;
	text-align:center;
	margin-right: -2px;
	margin-left: -2px;
}.flat_menu_btn:hover {
	background-color:#c2cad1;
}.flat_menu_btn:active {
	position:relative;
	top:1px;
}
.flat_menu_btn.selected {
	background-color: #3A4755;
}


section .main_panel .leftmenu li:hover{
	

}


section .right{
	padding-right: 10px;
}
section .right .tree{
	margin-top: 12px;
	width: 130px;
	padding-left: 5px;
	margin-right: 10px;
	border-right: 1px solid #E6E6E6;
	padding-right: 10px;
	display: inline-block;
	float: left;
}

/* MENU */
.left_menu {
	padding: 0;
	margin: 0;
	border: 0;
	display: inline-block;
	float: left;
	border-right: 1px solid #E6E6E6;
}
.left_menu ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left_menu ul {
  position: relative;
  z-index: 597;
  float: left;
}
.left_menu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
.left_menu ul li.hover,
.left_menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
.left_menu ul li.add {
	border-bottom: 1px solid #EEEEEE;
}
.left_menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
.left_menu ul ul li {
  float: none;
}
.left_menu ul li:hover > ul {
  visibility: visible;
}
.left_menu ul ul {
  top: 0;
  left: 100%;
}
.left_menu ul li {
  float: none;
}
/* Custom Stuff */
.left_menu span,
.left_menu a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}
.left_menu {
	z-index: 100;
	top: 42px;
	position: fixed;
	height: 100%;
	background: #F5F7F8;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-weight: 600;
	width: 150px;
	min-width: 80px;
	}
.left_menu:after,
.left_menu ul:after {
  content: '';
  display: block;
  clear: both;
}
.left_menu > ul > li:first-child {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left_menu > ul > li:last-child {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left_menu > ul > li ul ul li:first-child {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left_menu > ul > li ul ul li:last-child {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left_menu ul,
.left_menu li {
  width: 100%;
}
.left_menu li {
	background: #F5F7F8;
}
.left_menu li:hover,
.left_menu li.active {
	background: #A2B5C2;


}
.left_menu li:hover > a,
.left_menu li.active > a {
  color: #FFF;
}
.left_menu a {
	width: 76%;
	color: #899DC2;
	line-height: 160%;
	padding: 16px 8px 16px 28px;

}
.left_menu ul ul {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 150px;
}
.left_menu ul ul li {
  background: #606a76;
  border-bottom: 1px solid #59636F;
  -moz-box-shadow: inset 0 1px 0 #66707c;
  -webkit-box-shadow: inset 0 1px 0 #66707c;
  box-shadow: inset 0 1px 0 #66707c;
}
.left_menu ul ul li.add {
	/*background: #748794;*/
	border-bottom: 2px solid #47535C;
}

.left_menu ul ul li:hover {
  background: #4a5662;
}
.left_menu ul ul li a {
  color: #FFF;
}
.left_menu ul ul a,
.left_menu ul ul a span {
  font-size: 12px;
}
.rightmenu {
	display: inline-block;
	margin-top: -16px;
	position: absolute;
	right: 0;
}
/* MENU end */

section .right .tree .inactive{
	opacity: 0.7;
}
section .right .tree .selected{
	font-weight: bolder;
}
section .right .tree ul{

}
section .right .tree .add{
	font-size: 1.5em;
	color: #85B3EC;
} 
section .right .content{
	min-width: 400px;
	padding-left: 160px;
	padding-top: 42px;
	margin-top: 0px;
	height: 100%;
}

section .right .content .block_centre{
	padding-left: 12%;
	padding-top: 42px;
	margin-top: 0px;
	display: inline-block;
	height: 100%;
}

section .text-edit{
	width: 100%;

}

section .text-edit form textarea{
	width: 100%;
	min-height: 400px;
}

section .content{

}

section .cp_table{
	display: inline-block;
}
section .cp_table_block{
	display: block;
}

section .cp_table_block table{
	width: 100%;
}
section .cp_table_block table tr td:first-child{
	width: 100px;
}

section textarea.text_item_value{
	width: 100%;
	height: 170px !important;
	min-height: 170px !important;
}

section .text_item_name{
	color: #85B3EC;
}


/* TABLE */


.flat_table {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin-top: 10px;
	padding: 0px;
	text-align: left;
}
.flat_table a{
	line-height: 14px;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.flat_table tr:last-child td:last-child {

}
.flat_table tr:first-child td:first-child {

}
.flat_table table tr:first-child td:last-child {

}
.flat_table tr:last-child td:first-child{

}
.flat_table tr:hover td{
	
}
.flat_table tr:nth-child(odd){ 
	background-color: #F0F2F5; 
 
}
.flat_table tr:nth-child(even)    { 
	background-color:#ffffff; 
}
.flat_table th{
	padding:10px;
}
.flat_table td{
	vertical-align:middle;
	text-align:left;
	padding:10px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.flat_table tr:hover{ 
	background-color: #A2B5C2;

}
.flat_table tr:last-child td{

}
.flat_table tr td:last-child{

}
.flat_table tr:last-child td:last-child{
	
}
.flat_table tr:first-child td{

	background-color:#b2b9c4;
	text-align:center;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.flat_table tr:first-child:hover td{
	background-color:#b2b9c4;
}
.flat_table tr:first-child td:first-child{
	
}
.flat_table tr:first-child td:last-child{
	
}

/* Table end */

/* input forms */
.cp_form{
	
}
	.cp_form .block{
		width: 350px;
		border-radius: 2px;
		border: 1px solid rgb(218, 218, 218);
		margin-bottom: 14px;
	}
		.cp_form .block legend{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.cp_form .block .field{
			width: 100%;
			display: block;
			height: 38px;
		}
		.cp_form .block button{
		
		}
			.cp_form .block .field label{
				float: left;
				width: 36%;
				height: 20px;
				padding: 7px;
			}
			.cp_form .block .field input{
				width: 55%;
				float: right;
				border: 1px solid rgb(226, 226, 226)
			}
			.cp_form .block .field select{
				width: 57%;
				float: right;
			}
	

/* input forms end */