/* X13 */
html{
	height: 100%;
}

body{
	font-family: "Lucida Grande", "Lucida Sans Unicode";
	height: 100%;
	margin: 0;
	
	background-repeat: no-repeat;
	background-position: top;
	background-color: #013aa1;
	background-image: url(/assets/img/bg1.jpg);
}

input {
	padding: 4px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid rgb(202, 202, 202);
}

header{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	color: #909090;
	min-height: 100px;
	height: 15%;
	background: rgba(255, 255, 255, 0.87);
	padding-top: 30px;
}

.debug_info{
	color: #EBE6E0;
	font-size: 12px;
	padding: 4px;
	background-color: #413F3B;
	opacity: 1;
	font-family: "consolas";
	bottom: 0;
	margin: -8px;
	/*position: absolute;
	width: 98%;*/
}
	.debug_info .line {
		margin-top: 1px;
		padding: 1px;
	}
	.debug_info .line var{
		color: #F1D597;
		font-style: normal;
		font-weight: bold;
	}
	.debug_info .line query{
		color: #97C2F1;
	}
	
a {
	text-decoration: none;
	color: #7C95B8;
}
a:hover{
	color: #1A709C;
}	
	
.wrapper {
	background: rgba(255, 255, 255, 0.87);
	min-height: 70%;
}
section{
	margin: 0 auto;
	max-width: 1000px;

	color: #909090;
	padding: 4px;
}

section .main_logo{
	text-align: center;
	opacity: 0.8;
}

section .main_text {
	font-size: 20px;
}

section .presentation{
	text-align: center;
}

section .presentation .block{
	display: inline-block;
	width: 480px;
	height: 600px;
	vertical-align: top;
	margin: 8px;
	
}
section .presentation .block img{
	border: 1px solid rgb(240, 240, 240);
	border-radius: 2px;
}

section .go_to_reg{
	text-align: center;
}
section .go_to_reg a{
	color: #4EB8EE;
	font-size: 45px;
	text-decoration: none;
}
section .go_to_reg a:hover{
	text-shadow: 0px 0px 5px #4EB8EE;
}

section form input{
	display: block;
}
section form button{
	display: block;
}

footer{
	color: #FFFFFF;
	bottom: 0;
	min-height: 46px;
	padding: 8px;
	background: #4C4E50;
	font-size: 12px;
	height: 15%;
	background-image: url(/assets/img/bh4h.png);
}
	footer a{
		color: #F0F6FD;
	}
	footer a:hover{
		color: #B0BECC;
	}
	
	
	