<div>
	{if $user.id}
		<h2>[greeting], {$user.name}!</h2>
		<a href="/users/logout/">[log_out]</a>
	{else}
	<form method="post" action="/users/login/">
		<input type="text" name="id" placeholder="[login] / email" value="{$login_data.id}">
		<input type="password" name="pass" placeholder="[password]">
		<button>[sign_in]</button>
	</form>
	{/if}
</div>