	<div class="title">
	</div>
	<article>
		<p>PHP OOP MVC</p>
		<p>created for multilanguage projects</p>
		<p>simple and neat</p>
	</article>
	<article>
		3rd party components:
		<ul>
			<li><a href="http://www.smarty.net">smarty template engine (LGPL)</a></li>
			<li><a href="http://www.phpfastcache.com">phpFastCache (free open source)</a></li>
			<li><a href="http://elrte.org">elRTE open-source WYSIWYG HTML-editor (3-clauses BSD license)</a></li>
		</ul>
	</article>  
	<article>
	{$page.text}
	</article>
	<div class="presentation">
		<h3>now we have</h3>
		<div class="block">
			<h4>content management</h4>
			<a href="/assets/images/1.jpg"><img src="assets/images/1.jpg" width=480px></a>
		</div>
		<div class="block">
			<h4>caching</h4>
			<a href="/assets/images/2.jpg"><img src="assets/images/2.jpg" width=480px></a>
		</div>
		<div class="block">
			<h4>localization system</h4>
			<a href="/assets/images/3.jpg"><img src="assets/images/3.jpg" width=480px></a>
		</div>
		<div class="block">
			<h4>access control</h4>
			<a href="/assets/images/4.jpg"><img src="assets/images/4.jpg" width=480px></a>
		</div>
		<h3>and we have a lot of things to come</h3>
	</div>
	<div class="go_to_reg">
		<!-- <a href="#">join us</a> -->
	</div>
	
