<h2>{$page.title} {$entry.name}</h2>
<a class="flat_btn del" href="{$root}{$module}/del/{$entry.id}/">Delete</a>
<div class="text-edit">
	<form method="post" name="entry" id="entry">
		<div class="cp_table_block">
			<table class="cp_inputs">
				<tr>
					<td>Name:</td>
					<td><input type="text" name="name" value="{$entry.name}"></td>
				</tr>
				<tr>
					<td>Priority:</td>
					<td><input type="number" name="priority" value="{$entry.priority}"></td>
				</tr>
				<tr>
					<td>Active:</td>
					<td>
						<input type="hidden" name="public" value="0">
						<input type="checkbox" {if $entry.public == 1}checked="checked"{/if} name="public" value="1">			
					</td>
				</tr>
	
			</table>
		</div>
		<button class="flat_btn save">Save</button>		
	</form>
	
</div>