<h2>Edit text: {$entry.name}</h2>
<a class="flat_btn del" href="{$root}lang/delitem/{$entry.id}/">Delete</a>
<div class="text-edit"> 
	<form method="post" name="entry" id="entry">
		<div class="cp_table_block">
			<table class="cp_inputs">
				<tr>
					<td>Name:</td>
					<td><input type="text" name="name" value="{$entry.name}"></td>
				</tr>
				<tr>
					<td>Alias:</td>
					<td><input type="text" name="alias" value="{$entry.alias}"></td>
				</tr>
				<tr>
					<td>Location:</td>
					<td><input type="text" name="location" value="{$entry.location}"></td>
				</tr>
				{foreach $tree as $i}
				<tr>
					<td><span class="text_item_name">{$i.name}:</span></td>
					<td><textarea class="text_item_value" name="text[{$i.id}]">{$entry.text.{$i.id}.text}</textarea></td>
				</tr>
				{/foreach}
	
			</table>
		</div>
		<button class="flat_btn save">Save</button>		
	</form>
	
</div>