<div>
	<h2>Tag list</h2>
	<a class="flat_btn" href="/admin/{$module}/additem/">Add tag</a>
	
	<div>
		<table class="flat_table">
			<tr>
				<th>
					<a href="?order=name&direction={$direction}">Name</a>
				</th>
				<th>
					<a href="?order=alias&direction={$direction}">Alias</a>
				</th>
				<th>
					<a href="?order=location&direction={$direction}">Location</a>
				</th>
			</tr>
		{foreach $list as $i}
			<tr>
				<td>
					<a href="/admin/{$module}/edititem/{$i.id}/">{$i.name}</a>
				</td>
				<td>
					{$i.alias}
				</td>
				<td>
					<a href="/{$i.location}">{$i.location}</a>
				</td>
			</tr>
		{/foreach}
		</table>
	</div>
</div>