<h2>{$page.title} {if $parent}to {$parent.title}{/if}</h2>

<form class="cp_form" method="post" action="">

	<fieldset class="block">
    	<legend>Main </legend>
		<div class="field">
			<label>APP name</label>
			<input type="text" name="APPNAME" value="{$settings.APPNAME}"/>
		</div>
		<div class="field">
			<label>URL prefix</label>
			<input type="text" name="URL_PREFIX" value="{$settings.URL_PREFIX}"/>
		</div>
		<div class="field">
			<label>Multilanguage</label>
			<input type="hidden" name="MULTILANG" value="0"/>
			<input type="checkbox" name="MULTILANG" value="1" {if $settings.MULTILANG}checked="checked"{/if}/>
			
		</div>
		<div class="field">
			<label>Default language</label>
			<select name="DEFAULT_LANG">
				{foreach $lang_list as $item}
				<option value="{$item.id}" {if $item.id == $settings.DEFAULT_LANG}selected="selected"{/if}>{$item.name}</option>
				{/foreach}
			</select>
		</div>
		<div class="field">
			<label>Caching</label>
			<input type="hidden" name="CACHING" value="0"/>
			<input type="checkbox" name="CACHING" value="1" {if $settings.CACHING}checked="checked"{/if}/>
			
		</div>
		<div class="field">
			<label>Debugging</label>
			<input type="hidden" name="DEBUGGING" value="0"/>
			<input type="checkbox" name="DEBUGGING" value="1" {if $settings.DEBUGGING}checked="checked"{/if}/>
			
		</div>
	</fieldset>
	
	<fieldset class="block">
    	<legend>Database </legend>
		<div class="field">
			<label>Server</label>
			<input type="text" name="DB_SERVER" value="{$settings.DB_SERVER}"/>
		</div>
		<div class="field">
			<label>User</label>
			<input type="text" name="DB_USER" value="{$settings.DB_USER}"/>
		</div>
		<div class="field">
			<label>DB name</label>
			<input type="text" name="DB_NAME" value="{$settings.DB_NAME}"/>
		</div>
		<div class="field">
			<label>Table prefix</label>
			<input type="text" name="DB_PREFIX" value="{$settings.DB_PREFIX}"/>
		</div>
		<div class="field">
			<label>Charset</label>
			<input type="text" name="DB_CHARSET" value="{$settings.DB_CHARSET}"/>
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="DB_PASS" value="default"/>
		</div>

	</fieldset>
	
	<fieldset class="block">
    	<legend>Security </legend>
		<div class="field" title="Less number - more access">
			<label>Min access level</label>
			<input type="number" name="MINLVL" value="{$settings.MINLVL}"/>
		</div>

	</fieldset>
	
	
	<button class="flat_btn save">Save</button>
</form>