		<table class="flat_table">
			<tr>
				<th>
					<a href="?order=login&direction={$direction}">Login</a>
				</th>
				<th>
					<a href="?order=email&direction={$direction}">E-mail</a>
				</th>
				<th>
					<a href="?order=category&direction={$direction}">Category</a>
				</th>
				<th>
					<a href="?order=name&direction={$direction}">Name</a>
				</th>
				<th>
					<a href="?order=lastname&direction={$direction}">Last name</a>
				</th>
			</tr>
		{foreach $list as $i}
		
			<tr>
				<td>
					{if !$locked.edititem}
					<a href="/admin/{$module}/edititem/{$i.id}/">{$i.login}</a>
					{else}
					<span>{$i.login}</span>
					{/if}
				</td>
				<td>
					{$i.email}
				</td>
				<td>
					{$i.category_info.name}
				</td>
				<td>
					{$i.name}
				</td>
				<td>
					{$i.lastname}
				</td>
			</tr>
		{/foreach}
		</table>