<h2>{$page.title} {$entry.name}</h2>
<a class="flat_btn del" href="{$root}{$module}/del/{$entry.id}/">Delete</a>
<div class="text-edit">
	<form method="post" name="entry" id="entry">
		<div class="cp_table_block">
			<table class="cp_inputs">
				<tr>
					<td>Name:</td>
					<td><input type="text" name="name" value="{$entry.name}"></td>
				</tr>
				<tr>
					<td>Access level:</td>
					<td><input type="number" min="{$parent.level}" name="level" value="{if $entry.level}{$entry.level}{else}{$parent.level}{/if}"></td>
				</tr>
				<tr>
					<td>Parent:</td>
					<td>
						<select name="parent">
							<option value="0">Root</option>
						{function tree level=0}
						{foreach $data as $item}	
							{if $item.id != $entry.id}					
								<option {if $entry.parent == $item.id || $parent.id == $item.id }selected="selected"{/if} value="{$item.id}">{for $n = 1 to $level}&nbsp&nbsp&nbsp&nbsp{/for}{$item.name}</option>
								{if $item.childNodes}{tree data=$item.childNodes level=$level+1}
								{/if}
							{/if}
						{/foreach}
						{/function}
						
						{call name=tree data=$tree}
						
						</select>
					</td>
				</tr>

	
			</table>
		</div>
		<button class="flat_btn save">Save</button>		
	</form>
</div>

<div>
	{include file='user_list.html'}
</div>