<h2>{$page.title} {$entry.name}</h2>
<a class="flat_btn del" href="{$root}{$module}/del/{$entry.id}/">Delete</a>
<div class="image">
	{if $entry.image}
	<img src="/uploads/{$entry.image}" width=200>
	{*imagesize src="/uploads/{$entry.image}" width=200*}
	{/if}
</div>
<div class="text-edit">
	<div class="error-msg">
	{if $error}
	{foreach $error as $line}
		<p>{$line}</p>
	{/foreach}
	{/if}
	</div>
	<form enctype="multipart/form-data" method="post" name="entry" id="entry">
		<div class="cp_table_block">
			<table class="cp_inputs">
				
					<tr>
						<td>Login:</td>
						<td><input type="text" required="required" name="login" value="{$entry.login}"></td>
					</tr>
					<tr>
						<td>e-mail:</td>
						<td><input type="email" required="required" name="email" value="{$entry.email}"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" required="required" name="pass" value="****************"></td>
					</tr>
					<tr>
						<td>Category:</td>
						<td>
							<select name="category">
								<option value="0">Root</option>
							{function tree level=0}
							{foreach $data as $item}	
								{if $item.id != $entry.id}					
									<option {if $entry.category == $item.id || $category.id == $item.id }selected="selected"{/if} value="{$item.id}">{for $n = 1 to $level}&nbsp&nbsp&nbsp&nbsp{/for}{$item.name} (access: {$item.level})</option>
									{if $item.childNodes}{tree data=$item.childNodes level=$level+1}
									{/if}
								{/if}
							{/foreach}
							{/function}
							{call name=tree data=$cat_tree}
							
							</select>
						</td>
					</tr>
					
	
					<tr>
						<td>Name:</td>
						<td><input type="text" name="name" value="{$entry.name}"></td>
					</tr>
					<tr>
						<td>Middle name:</td>
						<td><input type="text" name="middlename" value="{$entry.middlename}"></td>
					</tr>
					<tr>
						<td>Last name:</td>
						<td><input type="text" name="lastname" value="{$entry.lastname}"></td>
					</tr>
					
					<tr>
						<td>Language:</td>
						<td>
							<select name="lang_id">
								<option value="0">Default</option>
								{foreach $lang_list as $item}
								<option {if $entry.lang_id == $item.id}selected="selected"{/if} value="{$item.id}">{$item.name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					
					<tr>
						<td>Image:</td>
						<td>
							<input type="hidden" name="MAX_FILE_SIZE" value="10240000" />
							<input type="file" name="image" accept="image" >
						</td>
					</tr>

			</table>
		</div>
		<button class="flat_btn save">Save</button>		
	</form>
	
</div>